* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      --purple:     #7c3aed;
      --purple-lt:  #a855f7;
      --bg:         #0a0a0a;
      --bg-card:    #111111;
      --text:       #f1f1f1;
      --muted:      #9ca3af;
      --border:     rgba(255,255,255,0.08);
    }
 body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Climate';
    src: url('../fonts/ClimateCrisis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}




